/* style.css */
:root {
  --text-color: #333;
  --bg-color: #fff;
}

body {
  font-size: 100%;
}

h2 {
  font-size: 32px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

/* 버튼 */
.link-btn {
  padding: 10px 20px;
  border: 1px solid #000;
}